<!--dashboard.html-->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <a href="#" class="text-decoration-none">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <p class="card-text">View your profile</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="text-decoration-none">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Exercise Plans</h5>
                    <p class="card-text">View/Manage your plans</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="text-decoration-none">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Progress</h5>
                    <p class="card-text">Track your progress</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="text-decoration-none">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">Friends</h5>
                    <p class="card-text">Connect with others</p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
