{% extends "base.html" %}
{% block title %}Exercise Plans{% endblock %}
{% block content %}
<p>{{ now.strftime('%A, %B %d, %Y %I:%M:%S %p %Z%z') }}</p>
<div style="display: flex;">
    <div style="flex: 4; margin-right: 20px;">
        <h1>Exercise Plans for {{ username }}</h1>

        <form method="POST">
            <ul>
                {% for exercise in user_exercises %}
                <li>
                    <input type="checkbox" name="selected_exercises" value="{{ exercise.id }}">
                    {{ exercise.name }} ({{ exercise.level }}, {{ exercise.muscle_group }})
                </li>
                {% else %}
                <li>No exercises available for your plan yet.</li>
                {% endfor %}
            </ul>
            <button type="submit">Add to Plan</button>
        </form>
    </div>

    <div style="flex: 2; margin-right: 40px;">
        <h2>Your Exercises</h2>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Muscle Group</th>
                </tr>
            </thead>
            <tbody>
                {% if all_exercises %}
                    {% for exercise in all_exercises %}
                    <tr>
                        <td>{{ exercise.name }}</td>
                        <td>{{ exercise.level }}</td>
                        <td>{{ exercise.muscle_group }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="3">No exercises yet.</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div style="flex: 1;">
        <h2>Search for Plans</h2>
        <div style="display: flex;">
            <input type="text" id="plan_search" placeholder="Enter plan name">
            <button id="plan_search_button">Search</button>
        </div>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Plan Name</th>
                </tr>
            </thead>
            <tbody>
              <!-- query returns table here -->
                <tr><td>Plan A</td></tr>
                <tr><td>Plan B</td></tr>
                <tr><td>Plan C</td></tr>
                <tr><td>Plan D</td></tr>
                <tr><td>Plan E</td></tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
