{% extends "base.html" %}
{% block title %}Exercise Plans{% endblock %}
{% block content %}
    <h1>Exercise Plans for {{ username }}</h1>

    <form method="POST">
        <ul>
            {% for exercise in exercises %}
                <li>
                    <input type="checkbox" name="selected_exercises" value="{{ exercise.id }}">
                    {{ exercise.name }} ({{ exercise.level }}, {{ exercise.muscle_group }})
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Add to Plan</button>
    </form>
{% endblock %}
