{% extends "base.html" %}
{% block title %}exercise_list{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <a href="{{ url_for('exercise_list', username=user.username) }}" class="text-decoration-none">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Exercises</h5>
                    <p class="card-text">Browse all available exercises</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="text-decoration-none">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Add an exercise</h5>
                    <p class="card-text">Add a new exercise to the database</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="text-decoration-none">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Progress</h5>
                    <p class="card-text">Track your progress</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">Exercises</div>
            <form method="POST">
                <input type="checkbox" name="muscle_group" value="Abdominals">Abdominals<br>
                <input type="checkbox" name="muscle_group" value="Biceps">Biceps<br>
                <input type="checkbox" name="muscle_group" value="Chest">Chest<br>
                <input type="checkbox" name="muscle_group" value="Cardio">Cardio<br>
                <input type="checkbox" name="muscle_group" value="Back">Back<br>
                <input type="checkbox" name="muscle_group" value="Glutes">Glutes<br>
                <input type="checkbox" name="muscle_group" value="Triceps">Triceps<br>
                <input type="checkbox" name="muscle_group" value="Forearms">Forearms<br>
                <input type="checkbox" name="muscle_group" value="Shoulders">Shoulders<br>
                <input type="checkbox" name="muscle_group" value="Hamstrings">Hamstrings<br>
                <input type="reset" value="Reset">
                <input type="submit" value="Search">
                <br>
                <input type="radio" name="ex_level" value="Beginner"> Beginner<br>
                <input type="radio" name="ex_level" value="Intermediate"> Intermediate<br>
                <input type="radio" name="ex_level" value="Advanced"> Advanced<br>
            </form>
        </div>

        {% if muscle_groups or ex_level %}
            <div class="card mt-4">
                <div class="card-header">Selected Filters</div>
                <div class="card-body">
                    {% if muscle_groups %}
                        <p><strong>Muscle Groups:</strong> {{ ', '.join(muscle_groups) }}</p>
                    {% endif %}
                    {% if ex_level %}
                        <p><strong>Exercise Level:</strong> {{ ex_level }}</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if exercises %}
            <div class="card mt-4">
                <div class="card-header">Search Results</div>
                <div class="card-body">
                    {% if exercises|length > 0 %}
                        <ul>
                            {% for exercise in exercises %}
                                <li>{{ exercise.name }} ({{ exercise.level }}, {{ exercise.muscle_group }})</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No exercises found matching your criteria.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
