<!--verify.html-->
{% extends "base.html" %}
{% block title %}Verfication{% endblock %}
{% block content %}
<html>
<head>
    <title>Verify Registration</title>
</head>
<body>
    <h1>Please Verify Your Information</h1>
    <p>Username: {{ username }}</p>
    <p>Email: {{ email }}</p>
    <p>Thank you for registering!</p>

    <h2>Verify Your Email</h2>
    <p>To complete your registration, please enter the code sent to {{ email }}.</p>
    <form method="POST">
      <input id="OTP_CODE" >
      <button type="submit">Send Verification Email</button>
    </form>
</body>
</html>
{% endblock %}
